@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
 
  color: rgb(var(--foreground-rgb));
  background-color: #000000; 
  background-image: url('https://i.imgur.com/m8KuaOS.gif'); 
  background-repeat: repeat; 
  background-size: auto; 
  background-position: top left;
}


.pixelify_sans {
  font-family: var(--font-pixelify_sans);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* Animation keyframes */
@keyframes move {
  0% { transform: translateX(0); }
  100% { transform: translateX(100%); } /* Example - move horizontally */
}



/* Animated element class */
.radcoin span {
  width: 125px;
  height: 125px;
  border-radius: 50%; 
  backface-visibility: hidden;
  position: absolute;
  animation: move 45s linear infinite;
}